.container-fluid{
    max-width: 1400px;
}

a.navbar-toggler{
    height: 100px;
}

.navbar-nav{
    width: 100%;
    justify-content: space-around;
}

.navbar-nav li{
    min-height: 3rem;
}

.navbar-brand{
    margin-right: 0!important;
}

.navbar a:hover, button:hover{
    opacity: 0.7;
}

.nav-link{
    font-size: 20px;
    font-weight: bolder!important;
    color: #FFF;
    padding: 0 1rem!important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover{
    color: var(--second-color);
}

.nav-link:focus{
    color: var(--fourth-color);
}

.navbar__bg{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--first-color);
    padding: 0 3rem;  
    min-height: 100px;  
}

@media screen and (max-width: 1280px){ 
    .navbar__bg{
        padding: 0;    
    }
}
