.copyright {
    display: block;
    overflow: hidden;
    padding: 0.5rem 0 0.5rem;
    color: var(--light-color);
    background-color: rgba(0, 0, 0, 0.2);
    font-family: var(--font-secondary);
    color: var(--light-color);
}

.copyright span {
    color: var(--copyright-span-color);
}

.floatLeft{
    float: left;
    display: flex;
    line-height: 40px;
    align-items: center;
}

.floatLeft p, .floatRight p{
    line-height: 40px;
    margin: 0;
    padding-left: 0.5rem;
}

.floatRight{    
    float: right;
}

.logo__dp{
    color: #FFF;
    background-color: black;
    border: 1px solid grey;
    padding: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
}

.logo__dp:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

@media screen and (max-width: 479px){
    .copyright .floatLeft {
        margin-bottom: 10px;
    }

    .copyright .floatLeft, .copyright .floatRight {
        text-align: center;
    }

    .floatLeft{
        margin-bottom: 0!important;
        line-height: 40px;
    }
}

@media screen and (max-width: 767px){
    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px){
    .copyright {
        padding: 10px 0 10px;
    }
}