.section__proyectos{
    text-align: center;
    padding: 1rem;
    padding-top: 100px;
}

.text__paragraph{
    white-space: pre-line;
}

.text__secondary{
    color: var(--second-color);
}

.proyectos__title{
    padding: 1rem 0;
}

.proyectos__container{
    display: flex;
    justify-content: center;
    padding: 0!important;
}

.row>div, .row>div>div{
    padding: 0;
}

.card__container__proyectos{
    position: relative;
    text-align: start;
}

.card__imagen__proyecto{
    width: 100%;
}

.card__container__proyectos:hover{
    cursor: pointer;
    opacity: 0.7;
}

.card__container__proyectos:hover .card__overlay__proyecto{
    display: flex;
}

.card__titulo__proyecto{
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

.card__overlay__proyecto h5, .card__overlay__proyecto h6{
    margin-top: 1rem!important;
}

.card__overlay__proyecto {
    position: absolute;
    bottom: 0;
    background: rgba(50, 70, 150, 0.6); /* Black see-through */    
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    text-align: start;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 0.25rem;
    text-align: center;
    z-index: 100;
    display: none;
}


.card__overlay__proyecto ul{
    min-height: 50%;
}

.card__overlay__proyecto li{
    text-align: start;
    list-style: none;
    font-size: 0.75rem;
}

.owl-nav{
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-nav span{
    color: white;
    padding: 0 10px 6px 10px;
    margin: 0 0.5rem;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.8);
}