:root{
  --first-color: #111111;
  --second-color: #bf345d;
  --third-color: #d696a8;
  --fourth-color: #7b7b84;
  --fifth-color: #7b7b84;
  --background-color: #FFFFFF;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-third: 'Inter', sans-serif;
  --font-nova: ''

}

body{  
  margin: 0;
  background-color: #2d2d2d;
  font-family: 'Montserrat', sans-serif!important;
  min-height: 100vh;
  height: 100%;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row{
  margin: 0!important;
}

.button__primary{
  background-color: var(--first-color);
  color: #FFF;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
}

.button__primary:hover{
  background-color: var(--second-color);
}

.button__secondary{
  background-color: var(--second-color);
  color: #FFF;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
}

.button__secondary:hover{
  opacity: 1!important;
  background-color: var(--first-color);
}