:root{
  --first-color: #111111;
  --second-color: #bf345d;
  --third-color: #d696a8;
  --fourth-color: #7b7b84;
  --fifth-color: #7b7b84;
  --background-color: #FFFFFF;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-third: 'Inter', sans-serif;
  --font-nova: ''

}

body{  
  margin: 0;
  background-color: #2d2d2d;
  font-family: 'Montserrat', sans-serif!important;
  min-height: 100vh;
  height: 100%;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row{
  margin: 0!important;
}