.img__modelo__container, .modelo__container{
    padding: 2rem!important;
    margin-top: 50px;
}

.modelo__carousel__img{
    object-fit: cover;
    max-height: 80vh;
}

.list__caracteristicas__modelo li{
    margin-bottom: 0;
}

.button__close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 100;
}

@media screen and (max-width: 992px){
    .modelo__container{
        margin: 0;
    }
}