.img__modelo__container, .modelo__container{
    padding: 2rem!important;
    margin-top: 100px;
}

.modelo__carousel__img{
    object-fit: cover;
    max-height: 797px;
}

.list__caracteristicas__modelo li{
    margin-bottom: 0;
}

@media screen and (max-width: 992px){
    .modelo__container{
        margin: 0;
    }
}