.section__proceso{
    text-align: center;
    padding: 1rem;
}

.text__paragraph{
    white-space: pre-line;
}

.text__secondary{
    color: var(--second-color);
}

.proceso__title{
    padding: 1rem 0;
}

.proceso__container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.proceso__imagen{
    max-width: 90vw;
}

.timeline__container{
    position: relative;
    text-align: start;
    padding: 0 2rem;
}

.timeline__container h5{
    font-weight: 600;
    padding-bottom: 3rem;
}

.timeline__container p{
    padding-right: 1rem;
}

.timeline__arrow::after{
    position: absolute;
    content: '';
    top: 0;
    height: 4rem;
    width: 95%;
    border-bottom: 5px solid black;
    z-index: 1000;    
}

@media screen and (max-width:479px){
    .timeline__arrow::after{
        position: absolute;
        content: '';
        left: 0;
        height: 4rem;
        width: 5%;
        height: 100%;
        border-left: 5px solid black;        
        z-index: 1000;    
    }
}