.img__modelo__container, .modelo__container{
    padding: 2rem!important;
    margin-top: 100px;
}

.img__modelo__container img{
    max-height: 25rem;
    object-fit: contain;
}

.list__caracteristicas__modelo li{
    margin-bottom: 0;
}

@media screen and (max-width: 992px){
    .modelo__container{
        margin: 0;
    }
}