.modelo__container h4{
    font-weight: 600;
}

.img__modelo__container, .modelo__container{
    padding: 2rem!important;
    margin-top: 50px;
}

.img__modelo__container img{
    max-height: 25rem;
    object-fit: contain;
}

.list__caracteristicas__modelo li, .modelo__container p{
    margin-bottom: 0;
    font-size: 14px;
}

.modelos__container  .owl-stage {
    display: flex;
}

.modelos__container  .owl-item img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
}
@media screen and (max-width: 992px){
    .modelo__container{
        margin: 0;
    }
}