.img__modelo__container, .modelo__container{
    padding: 2rem!important
}

.img__modelo__container img{
    max-height: 25rem;
    object-fit: contain;
}

.list__caracteristicas__modelo li{
    margin-bottom: 0;
}